<% if @workspace.integrations.any? %>
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Integrations</h1>
    <%= link_to "Add Integration", add_integrations_path, class: 'd-sm-inline-block btn btn-sm btn-primary' %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Application</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
  <tbody>
    <% @workspace.integrations.each do |integration|%>
      <tr>
        <td><%= integration.application.name %></td>
        <td><%= integration.description %></td>
        <td><%= link_to "Settings", edit_integration_path(integration) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <h3 class='justify-content-center text-center'>Choose application you want to integrate with:</h3>
  <%= render 'application_list' %>
<% end %>