<!DOCTYPE html>
<html>
  <head>
    <title>ComplianceService</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gradient-primary">
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
